# Change File Name to config.env

API_ID = ""
API_HASH = ""
BOT_TOKEN = ""
TO_CHATS = ""
FROM_CHATS = ""
INVITE_LINKS_EXPIRE_DAYS = 7
INVITE_LINKS_CACHE_HOURS = 24
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = ""
LOG_LEVEL = "info"
